<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564620659120-op6boskckfcgcv4qvm913t1hirrvfvth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564620659120-op6boskckfcgcv4qvm913t1hirrvfvth</string>
	<key>API_KEY</key>
	<string>AIzaSyDsYrUgIqiSdP-Xwz7tr3sr1ulfquIlpwA</string>
	<key>GCM_SENDER_ID</key>
	<string>564620659120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mominjam.mominjam</string>
	<key>PROJECT_ID</key>
	<string>mo-minjam</string>
	<key>STORAGE_BUCKET</key>
	<string>mo-minjam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564620659120:ios:a563c75e6359b97414ae75</string>
</dict>
</plist>